In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.linear_model import LogisticRegression

In [2]:
df = pd.read_csv('accidents_clean.csv')

In [3]:
df.head()

,id,severity,start_time,end_time,start_lat,start_lng,end_lat,end_lng,distance(mi),description,...,railway,roundabout,station,stop,traffic_calming,traffic_signal,sunrise_sunset,civil_twilight,nautical_twilight,astronomical_twilight
0,A-1,3,2016-02-08 00:37:08,2016-02-08 06:37:08,40.108910,-83.092860,40.112060,-83.031870,3.230,Between Sawmill Rd/Exit 20 and OH-315/Olentang...,...,0,0,0,0,0,0,1,1,1,1
1,A-5,3,2016-02-08 07:53:43,2016-02-08 13:53:43,39.172393,-84.492792,39.170476,-84.501798,0.500,At Mitchell Ave/Exit 6 - Accident.,...,0,0,0,0,0,0,0,0,0,0
2,A-8,2,2016-02-08 11:51:46,2016-02-08 17:51:46,41.375310,-81.820170,41.367860,-81.821740,0.521,At Bagley Rd/Exit 235 - Accident.,...,0,0,0,0,0,0,0,0,0,0
3,A-10,2,2016-02-08 15:16:43,2016-02-08 21:16:43,40.109310,-82.968490,40.110780,-82.984000,0.826,At I-71/Exit 26 - Accident.,...,0,0,0,0,0,0,0,0,0,0
4,A-11,2,2016-02-08 15:43:50,2016-02-08 21:43:50,39.192880,-84.477230,39.196150,-84.473350,0.307,At OH-4/Paddock Rd/Exit 9 - Accident.,...,0,0,0,0,0,0,0,0,0,0

In [5]:
df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2207325 entries, 0 to 2207324
Data columns (total 43 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   id                     2207325 non-null  object
 1   severity               2207325 non-null  int64
 2   start_time             2207325 non-null  object
 3   end_time               2207325 non-null  object
 4   start_lat              2207325 non-null  float64
 5   start_lng              2207325 non-null  float64
 6   end_lat                2207325 non-null  float64
 7   end_lng                2207325 non-null  float64
 8   distance(mi)           2207325 non-null  float64
 9   description            2207325 non-null  object
 10  street                 2207325 non-null  object
 11  side                   2207325 non-null  object
 12  city                   2207325 non-null  object
 13  county                 2207325 non-null  object
 14  state                  2207325 non-null  object
 15  zipcode                2207325 non-null  object
 16  timezone               2207325 non-null  object
 17  weather_timestamp      2207325 non-null  object
 18  temperature(f)         2207325 non-null  float64
 19  wind_chill(f)          2207325 non-null  float64
 20  humidity(%)            2207325 non-null  float64
 21  pressure(in)           2207325 non-null  float64
 22  visibility(mi)         2207325 non-null  float64
 23  wind_direction         2207325 non-null  object
 24  wind_speed(mph)        2207325 non-null  float64
 25  precipitation(in)      2207325 non-null  float64
 26  weather_condition      2207325 non-null  object
 27  amenity                2207325 non-null  int64
 28  bump                   2207325 non-null  int64
 29  crossing               2207325 non-null  int64
 30  give_way               2207325 non-null  int64
 31  junction               2207325 non-null  int64
 32  no_exit                2207325 non-null  int64
 33  railway                2207325 non-null  int64
 34  roundabout             2207325 non-null  int64
 35  station                2207325 non-null  int64
 36  stop                   2207325 non-null  int64
 37  traffic_calming        2207325 non-null  int64
 38  traffic_signal         2207325 non-null  int64
 39  sunrise_sunset         2207325 non-null  int64
 40  civil_twilight         2207325 non-null  int64
 41  nautical_twilight      2207325 non-null  int64
 42  astronomical_twilight  2207325 non-null  int64
dtypes: float64(12), int64(17), object(14)
memory usage: 724.1+ MB

In [6]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
severity,2207325.0,2.074862,0.383241,1.000000,2.000000,2.000000,2.000000,4.00000
start_lat,2207325.0,36.007256,5.472439,24.566027,32.961337,35.742292,40.068340,49.00058
start_lng,2207325.0,-96.620942,18.264535,-124.548074,-117.977579,-91.066492,-80.335197,-67.48413
end_lat,2207325.0,36.007402,5.472547,24.566013,32.960648,35.742992,40.068509,49.07500
end_lng,2207325.0,-96.620680,18.264283,-124.545748,-117.978173,-91.065553,-80.335591,-67.48413
distance(mi),2207325.0,0.696784,1.505373,0.000000,0.046000,0.210000,0.782000,155.18600
temperature(f),2207325.0,61.838083,18.561719,-33.000000,50.000000,64.000000,76.000000,196.00000
wind_chill(f),2207325.0,60.716421,20.518191,-50.100000,50.000000,64.000000,76.000000,196.00000
humidity(%),2207325.0,64.684914,22.713228,1.000000,49.000000,67.000000,84.000000,100.00000
pressure(in),2207325.0,29.373684,1.092007,16.720000,29.210000,29.730000,29.970000,58.90000
visibility(mi),2207325.0,9.046080,2.610565,0.000000,10.000000,10.000000,10.000000,100.00000
wind_speed(mph),2207325.0,7.152117,5.517968,0.000000,3.000000,7.000000,10.000000,1087.00000
precipitation(in),2207325.0,0.005705,0.058258,0.000000,0.000000,0.000000,0.000000,24.00000
amenity,2207325.0,0.010630,0.102553,0.000000,0.000000,0.000000,0.000000,1.00000
bump,2207325.0,0.000411,0.020278,0.000000,0.000000,0.000000,0.000000,1.00000
crossing,2207325.0,0.077291,0.267053,0.000000,0.000000,0.000000,0.000000,1.00000
give_way,2207325.0,0.002409,0.049025,0.000000,0.000000,0.000000,0.000000,1.00000
junction,2207325.0,0.083107,0.276044,0.000000,0.000000,0.000000,0.000000,1.00000
no_exit,2207325.0,0.001621,0.040223,0.000000,0.000000,0.000000,0.000000,1.00000
railway,2207325.0,0.008108,0.089681,0.000000,0.000000,0.000000,0.000000,1.00000
roundabout,2207325.0,0.000046,0.006764,0.000000,0.000000,0.000000,0.000000,1.00000
station,2207325.0,0.026898,0.161786,0.000000,0.000000,0.000000,0.000000,1.00000
stop,2207325.0,0.019467,0.138158,0.000000,0.000000,0.000000,0.000000,1.00000
traffic_calming,2207325.0,0.000667,0.025824,0.000000,0.000000,0.000000,0.000000,1.00000
traffic_signal,2207325.0,0.096549,0.295343,0.000000,0.000000,0.000000,0.000000,1.00000
sunrise_sunset,2207325.0,0.377186,0.484682,0.000000,0.000000,0.000000,1.000000,1.00000
civil_twilight,2207325.0,0.337024,0.472693,0.000000,0.000000,0.000000,1.000000,1.00000
nautical_twilight,2207325.0,0.289819,0.453678,0.000000,0.000000,0.000000,1.000000,1.00000
astronomical_twilight,2207325.0,0.249652,0.432812,0.000000,0.000000,0.000000,0.000000,1.00000