## Data Dictionary

1	ID	This is a unique identifier of the accident record.

2	Severity	Shows the severity of the accident, a number between 1 and 4, where 1 indicates the least impact on traffic (i.e., short delay as a result of the accident) and 4 indicates a significant impact on traffic (i.e., long delay).

3	Start_Time	Shows start time of the accident in local time zone.

4	End_Time	Shows end time of the accident in local time zone. End time here refers to when the impact of accident on traffic flow was dismissed.

5	Start_Lat	Shows latitude in GPS coordinate of the start point.

6	Start_Lng	Shows longitude in GPS coordinate of the start point.

7	End_Lat	Shows latitude in GPS coordinate of the end point.

8	End_Lng	Shows longitude in GPS coordinate of the end point.

9	Distance(mi)	The length of the road extent affected by the accident.

10	Description	Shows natural language description of the accident.

11	Number	Shows the street number in address field.

12	Street	Shows the street name in address field.

13	Side	Shows the relative side of the street (Right/Left) in address field.

14	City	Shows the city in address field.

15	County	Shows the county in address field.

16	State	Shows the state in address field.

17	Zipcode	Shows the zipcode in address field.

18	Country	Shows the country in address field.

19	Timezone	Shows timezone based on the location of the accident (eastern, central, etc.).

20	Airport_Code	Denotes an airport-based weather station which is the closest one to location of the accident.

21	Weather_Timestamp	Shows the time-stamp of weather observation record (in local time).

22	Temperature(F)	Shows the temperature (in Fahrenheit).

23	Wind_Chill(F)	Shows the wind chill (in Fahrenheit).

24	Humidity(%)	Shows the humidity (in percentage).

25	Pressure(in)	Shows the air pressure (in inches).

26	Visibility(mi)	Shows visibility (in miles).

27	Wind_Direction	Shows wind direction.

28	Wind_Speed(mph)	Shows wind speed (in miles per hour).

29	Precipitation(in)	Shows precipitation amount in inches, if there is any.

30	Weather_Condition	Shows the weather condition (rain, snow, thunderstorm, fog, etc.)

31	Amenity	A POI annotation which indicates presence of amenity in a nearby location.

32	Bump	A POI annotation which indicates presence of speed bump or hump in a nearby location.

33	Crossing	A POI annotation which indicates presence of crossing in a nearby location.

34	Give_Way	A POI annotation which indicates presence of give_way in a nearby location.

35	Junction	A POI annotation which indicates presence of junction in a nearby location.

36	No_Exit	A POI annotation which indicates presence of no_exit in a nearby location.

37	Railway	A POI annotation which indicates presence of railway in a nearby location.

38	Roundabout	A POI annotation which indicates presence of roundabout in a nearby location.

39	Station	A POI annotation which indicates presence of station in a nearby location.

40	Stop	A POI annotation which indicates presence of stop in a nearby location.

41	Traffic_Calming	A POI annotation which indicates presence of traffic_calming in a nearby location.

42	Traffic_Signal	A POI annotation which indicates presence of traffic_signal in a nearby loction.

43	Turning_Loop	A POI annotation which indicates presence of turning_loop in a nearby location.

44	Sunrise_Sunset	Shows the period of day (i.e. day or night) based on sunrise/sunset.

45	Civil_Twilight	Shows the period of day (i.e. day or night) based on civil twilight.

46	Nautical_Twilight	Shows the period of day (i.e. day or night) based on nautical twilight.

47	Astronomical_Twilight	Shows the period of day (i.e. day or night) based on astronomical twilight.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('accidents.csv')

In [3]:
df.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,3,2016-02-08 00:37:08,2016-02-08 06:37:08,40.108910,-83.092860,40.112060,-83.031870,3.230,Between Sawmill Rd/Exit 20 and OH-315/Olentang...,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,2,2016-02-08 05:56:20,2016-02-08 11:56:20,39.865420,-84.062800,39.865010,-84.048730,0.747,At OH-4/OH-235/Exit 41 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Night
2,A-3,2,2016-02-08 06:15:39,2016-02-08 12:15:39,39.102660,-84.524680,39.102090,-84.523960,0.055,At I-71/US-50/Exit 1 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Day
3,A-4,2,2016-02-08 06:51:45,2016-02-08 12:51:45,41.062130,-81.537840,41.062170,-81.535470,0.123,At Dart Ave/Exit 21 - Accident.,...,False,False,False,False,False,False,Night,Night,Day,Day
4,A-5,3,2016-02-08 07:53:43,2016-02-08 13:53:43,39.172393,-84.492792,39.170476,-84.501798,0.500,At Mitchell Ave/Exit 6 - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day

In [6]:
df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2845342 entries, 0 to 2845341
Data columns (total 47 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   ID                     2845342 non-null  object
 1   Severity               2845342 non-null  int64
 2   Start_Time             2845342 non-null  object
 3   End_Time               2845342 non-null  object
 4   Start_Lat              2845342 non-null  float64
 5   Start_Lng              2845342 non-null  float64
 6   End_Lat                2845342 non-null  float64
 7   End_Lng                2845342 non-null  float64
 8   Distance(mi)           2845342 non-null  float64
 9   Description            2845342 non-null  object
 10  Number                 1101431 non-null  float64
 11  Street                 2845340 non-null  object
 12  Side                   2845342 non-null  object
 13  City                   2845205 non-null  object
 14  County                 2845342 non-null  object
 15  State                  2845342 non-null  object
 16  Zipcode                2844023 non-null  object
 17  Country                2845342 non-null  object
 18  Timezone               2841683 non-null  object
 19  Airport_Code           2835793 non-null  object
 20  Weather_Timestamp      2794606 non-null  object
 21  Temperature(F)         2776068 non-null  float64
 22  Wind_Chill(F)          2375699 non-null  float64
 23  Humidity(%)            2772250 non-null  float64
 24  Pressure(in)           2786142 non-null  float64
 25  Visibility(mi)         2774796 non-null  float64
 26  Wind_Direction         2771567 non-null  object
 27  Wind_Speed(mph)        2687398 non-null  float64
 28  Precipitation(in)      2295884 non-null  float64
 29  Weather_Condition      2774706 non-null  object
 30  Amenity                2845342 non-null  bool
 31  Bump                   2845342 non-null  bool
 32  Crossing               2845342 non-null  bool
 33  Give_Way               2845342 non-null  bool
 34  Junction               2845342 non-null  bool
 35  No_Exit                2845342 non-null  bool
 36  Railway                2845342 non-null  bool
 37  Roundabout             2845342 non-null  bool
 38  Station                2845342 non-null  bool
 39  Stop                   2845342 non-null  bool
 40  Traffic_Calming        2845342 non-null  bool
 41  Traffic_Signal         2845342 non-null  bool
 42  Turning_Loop           2845342 non-null  bool
 43  Sunrise_Sunset         2842475 non-null  object
 44  Civil_Twilight         2842475 non-null  object
 45  Nautical_Twilight      2842475 non-null  object
 46  Astronomical_Twilight  2842475 non-null  object
dtypes: bool(13), float64(13), int64(1), object(20)
memory usage: 773.4+ MB

In [7]:
df.describe()

,Severity,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Number,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in)
count,2.845342e+06,2.845342e+06,2.845342e+06,2.845342e+06,2.845342e+06,2.845342e+06,1.101431e+06,2.776068e+06,2.375699e+06,2.772250e+06,2.786142e+06,2.774796e+06,2.687398e+06,2.295884e+06
mean,2.137572e+00,3.624520e+01,-9.711463e+01,3.624532e+01,-9.711439e+01,7.026779e-01,8.089408e+03,6.179356e+01,5.965823e+01,6.436545e+01,2.947234e+01,9.099391e+00,7.395044e+00,7.016940e-03
std,4.787216e-01,5.363797e+00,1.831782e+01,5.363873e+00,1.831763e+01,1.560361e+00,1.836009e+04,1.862263e+01,2.116097e+01,2.287457e+01,1.045286e+00,2.717546e+00,5.527454e+00,9.348831e-02
min,1.000000e+00,2.456603e+01,-1.245481e+02,2.456601e+01,-1.245457e+02,0.000000e+00,0.000000e+00,-8.900000e+01,-8.900000e+01,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.000000e+00,3.344517e+01,-1.180331e+02,3.344628e+01,-1.180333e+02,5.200000e-02,1.270000e+03,5.000000e+01,4.600000e+01,4.800000e+01,2.931000e+01,1.000000e+01,3.500000e+00,0.000000e+00
50%,2.000000e+00,3.609861e+01,-9.241808e+01,3.609799e+01,-9.241772e+01,2.440000e-01,4.007000e+03,6.400000e+01,6.300000e+01,6.700000e+01,2.982000e+01,1.000000e+01,7.000000e+00,0.000000e+00
75%,2.000000e+00,4.016024e+01,-8.037243e+01,4.016105e+01,-8.037338e+01,7.640000e-01,9.567000e+03,7.600000e+01,7.600000e+01,8.300000e+01,3.001000e+01,1.000000e+01,1.000000e+01,0.000000e+00
max,4.000000e+00,4.900058e+01,-6.711317e+01,4.907500e+01,-6.710924e+01,1.551860e+02,9.999997e+06,1.960000e+02,1.960000e+02,1.000000e+02,5.890000e+01,1.400000e+02,1.087000e+03,2.400000e+01

In [8]:
df.columns = df.columns.str.lower()

In [9]:
df.head()

,id,severity,start_time,end_time,start_lat,start_lng,end_lat,end_lng,distance(mi),description,...,roundabout,station,stop,traffic_calming,traffic_signal,turning_loop,sunrise_sunset,civil_twilight,nautical_twilight,astronomical_twilight
0,A-1,3,2016-02-08 00:37:08,2016-02-08 06:37:08,40.108910,-83.092860,40.112060,-83.031870,3.230,Between Sawmill Rd/Exit 20 and OH-315/Olentang...,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,2,2016-02-08 05:56:20,2016-02-08 11:56:20,39.865420,-84.062800,39.865010,-84.048730,0.747,At OH-4/OH-235/Exit 41 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Night
2,A-3,2,2016-02-08 06:15:39,2016-02-08 12:15:39,39.102660,-84.524680,39.102090,-84.523960,0.055,At I-71/US-50/Exit 1 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Day
3,A-4,2,2016-02-08 06:51:45,2016-02-08 12:51:45,41.062130,-81.537840,41.062170,-81.535470,0.123,At Dart Ave/Exit 21 - Accident.,...,False,False,False,False,False,False,Night,Night,Day,Day
4,A-5,3,2016-02-08 07:53:43,2016-02-08 13:53:43,39.172393,-84.492792,39.170476,-84.501798,0.500,At Mitchell Ave/Exit 6 - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day

In [10]:
df.number.nunique()

46402

In [14]:
df = df.drop(columns='number')

In [15]:
df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2845342 entries, 0 to 2845341
Data columns (total 46 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   id                     2845342 non-null  object
 1   severity               2845342 non-null  int64
 2   start_time             2845342 non-null  object
 3   end_time               2845342 non-null  object
 4   start_lat              2845342 non-null  float64
 5   start_lng              2845342 non-null  float64
 6   end_lat                2845342 non-null  float64
 7   end_lng                2845342 non-null  float64
 8   distance(mi)           2845342 non-null  float64
 9   description            2845342 non-null  object
 10  street                 2845340 non-null  object
 11  side                   2845342 non-null  object
 12  city                   2845205 non-null  object
 13  county                 2845342 non-null  object
 14  state                  2845342 non-null  object
 15  zipcode                2844023 non-null  object
 16  country                2845342 non-null  object
 17  timezone               2841683 non-null  object
 18  airport_code           2835793 non-null  object
 19  weather_timestamp      2794606 non-null  object
 20  temperature(f)         2776068 non-null  float64
 21  wind_chill(f)          2375699 non-null  float64
 22  humidity(%)            2772250 non-null  float64
 23  pressure(in)           2786142 non-null  float64
 24  visibility(mi)         2774796 non-null  float64
 25  wind_direction         2771567 non-null  object
 26  wind_speed(mph)        2687398 non-null  float64
 27  precipitation(in)      2295884 non-null  float64
 28  weather_condition      2774706 non-null  object
 29  amenity                2845342 non-null  bool
 30  bump                   2845342 non-null  bool
 31  crossing               2845342 non-null  bool
 32  give_way               2845342 non-null  bool
 33  junction               2845342 non-null  bool
 34  no_exit                2845342 non-null  bool
 35  railway                2845342 non-null  bool
 36  roundabout             2845342 non-null  bool
 37  station                2845342 non-null  bool
 38  stop                   2845342 non-null  bool
 39  traffic_calming        2845342 non-null  bool
 40  traffic_signal         2845342 non-null  bool
 41  turning_loop           2845342 non-null  bool
 42  sunrise_sunset         2842475 non-null  object
 43  civil_twilight         2842475 non-null  object
 44  nautical_twilight      2842475 non-null  object
 45  astronomical_twilight  2842475 non-null  object
dtypes: bool(13), float64(12), int64(1), object(20)
memory usage: 751.6+ MB

In [16]:
df.severity.value_counts()

2    2532991
3     155105
4     131193
1      26053
Name: severity, dtype: int64

In [17]:
df = df.dropna()

In [18]:
df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2207325 entries, 0 to 2845341
Data columns (total 46 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   id                     2207325 non-null  object
 1   severity               2207325 non-null  int64
 2   start_time             2207325 non-null  object
 3   end_time               2207325 non-null  object
 4   start_lat              2207325 non-null  float64
 5   start_lng              2207325 non-null  float64
 6   end_lat                2207325 non-null  float64
 7   end_lng                2207325 non-null  float64
 8   distance(mi)           2207325 non-null  float64
 9   description            2207325 non-null  object
 10  street                 2207325 non-null  object
 11  side                   2207325 non-null  object
 12  city                   2207325 non-null  object
 13  county                 2207325 non-null  object
 14  state                  2207325 non-null  object
 15  zipcode                2207325 non-null  object
 16  country                2207325 non-null  object
 17  timezone               2207325 non-null  object
 18  airport_code           2207325 non-null  object
 19  weather_timestamp      2207325 non-null  object
 20  temperature(f)         2207325 non-null  float64
 21  wind_chill(f)          2207325 non-null  float64
 22  humidity(%)            2207325 non-null  float64
 23  pressure(in)           2207325 non-null  float64
 24  visibility(mi)         2207325 non-null  float64
 25  wind_direction         2207325 non-null  object
 26  wind_speed(mph)        2207325 non-null  float64
 27  precipitation(in)      2207325 non-null  float64
 28  weather_condition      2207325 non-null  object
 29  amenity                2207325 non-null  bool
 30  bump                   2207325 non-null  bool
 31  crossing               2207325 non-null  bool
 32  give_way               2207325 non-null  bool
 33  junction               2207325 non-null  bool
 34  no_exit                2207325 non-null  bool
 35  railway                2207325 non-null  bool
 36  roundabout             2207325 non-null  bool
 37  station                2207325 non-null  bool
 38  stop                   2207325 non-null  bool
 39  traffic_calming        2207325 non-null  bool
 40  traffic_signal         2207325 non-null  bool
 41  turning_loop           2207325 non-null  bool
 42  sunrise_sunset         2207325 non-null  object
 43  civil_twilight         2207325 non-null  object
 44  nautical_twilight      2207325 non-null  object
 45  astronomical_twilight  2207325 non-null  object
dtypes: bool(13), float64(12), int64(1), object(20)
memory usage: 599.9+ MB

In [19]:
df.country.value_counts()

US    2207325
Name: country, dtype: int64

In [20]:
df = df.drop(columns='country')

In [21]:
df.timezone.value_counts()

US/Eastern     980847
US/Pacific     734790
US/Central     374368
US/Mountain    117320
Name: timezone, dtype: int64

In [25]:
df.weather_timestamp = pd.to_datetime(df.weather_timestamp)

In [26]:
df.id.nunique()

2207325

In [30]:
df.start_time = pd.to_datetime(df.start_time)

In [32]:
df.end_time = pd.to_datetime(df.end_time)

In [33]:
df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2207325 entries, 0 to 2845341
Data columns (total 45 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   id                     2207325 non-null  object
 1   severity               2207325 non-null  int64
 2   start_time             2207325 non-null  datetime64[ns]
 3   end_time               2207325 non-null  datetime64[ns]
 4   start_lat              2207325 non-null  float64
 5   start_lng              2207325 non-null  float64
 6   end_lat                2207325 non-null  float64
 7   end_lng                2207325 non-null  float64
 8   distance(mi)           2207325 non-null  float64
 9   description            2207325 non-null  object
 10  street                 2207325 non-null  object
 11  side                   2207325 non-null  object
 12  city                   2207325 non-null  object
 13  county                 2207325 non-null  object
 14  state                  2207325 non-null  object
 15  zipcode                2207325 non-null  object
 16  timezone               2207325 non-null  object
 17  airport_code           2207325 non-null  object
 18  weather_timestamp      2207325 non-null  datetime64[ns]
 19  temperature(f)         2207325 non-null  float64
 20  wind_chill(f)          2207325 non-null  float64
 21  humidity(%)            2207325 non-null  float64
 22  pressure(in)           2207325 non-null  float64
 23  visibility(mi)         2207325 non-null  float64
 24  wind_direction         2207325 non-null  object
 25  wind_speed(mph)        2207325 non-null  float64
 26  precipitation(in)      2207325 non-null  float64
 27  weather_condition      2207325 non-null  object
 28  amenity                2207325 non-null  bool
 29  bump                   2207325 non-null  bool
 30  crossing               2207325 non-null  bool
 31  give_way               2207325 non-null  bool
 32  junction               2207325 non-null  bool
 33  no_exit                2207325 non-null  bool
 34  railway                2207325 non-null  bool
 35  roundabout             2207325 non-null  bool
 36  station                2207325 non-null  bool
 37  stop                   2207325 non-null  bool
 38  traffic_calming        2207325 non-null  bool
 39  traffic_signal         2207325 non-null  bool
 40  turning_loop           2207325 non-null  bool
 41  sunrise_sunset         2207325 non-null  object
 42  civil_twilight         2207325 non-null  object
 43  nautical_twilight      2207325 non-null  object
 44  astronomical_twilight  2207325 non-null  object
dtypes: bool(13), datetime64[ns](3), float64(12), int64(1), object(16)
memory usage: 583.1+ MB

In [34]:
df.wind_direction.value_counts()

CALM        408032
S           163900
W           158931
E           119700
N           119291
WNW         115609
NW          113674
SSW         107042
VAR         101032
WSW         100606
SW          100580
SSE          99911
NNW          99872
SE           87676
ESE          83320
ENE          78210
NE           72642
NNE          69145
North         2617
West          1830
South         1597
East          1588
Variable       520
Name: wind_direction, dtype: int64

In [36]:
df.wind_direction = df.wind_direction.str.replace('North','N').str.replace('West','W').str.replace('South','S').str.replace('East','E').str.replace('Variable', 'VAR')

In [37]:
df.wind_direction.value_counts()

CALM    408032
S       165497
W       160761
N       121908
E       121288
WNW     115609
NW      113674
SSW     107042
VAR     101552
WSW     100606
SW      100580
SSE      99911
NNW      99872
SE       87676
ESE      83320
ENE      78210
NE       72642
NNE      69145
Name: wind_direction, dtype: int64

In [40]:
df = df.drop(columns='airport_code')

In [41]:
df.weather_condition.value_counts()

Fair                              1042415
Cloudy                             334793
Mostly Cloudy                      285317
Partly Cloudy                      195367
Light Rain                         106754
                                   ...
Heavy Freezing Rain                     1
Heavy Freezing Drizzle                  1
Heavy Rain Shower / Windy               1
Sand / Dust Whirlwinds / Windy          1
Thunder and Hail / Windy                1
Name: weather_condition, Length: 114, dtype: int64

In [42]:
df.sunrise_sunset.value_counts()

Day      1374753
Night     832572
Name: sunrise_sunset, dtype: int64

In [90]:
df.sunrise_sunset.map({'Day': 0, 'Night': 1}).value_counts()

0    1374753
1     832572
Name: sunrise_sunset, dtype: int64

In [91]:
df.sunrise_sunset = df.sunrise_sunset.map({'Day': 0, 'Night': 1})

In [43]:
df.civil_twilight.value_counts()

Day      1463403
Night     743922
Name: civil_twilight, dtype: int64

In [92]:
df.civil_twilight.map({'Day': 0, 'Night': 1}).value_counts()

0    1463403
1     743922
Name: civil_twilight, dtype: int64

In [93]:
df.civil_twilight = df.civil_twilight.map({'Day': 0, 'Night': 1})

In [44]:
df.nautical_twilight.value_counts()

Day      1567600
Night     639725
Name: nautical_twilight, dtype: int64

In [94]:
df.nautical_twilight.map({'Day': 0, 'Night': 1}).value_counts()

0    1567600
1     639725
Name: nautical_twilight, dtype: int64

In [95]:
df.nautical_twilight = df.nautical_twilight.map({'Day': 0, 'Night': 1})

In [45]:
df.astronomical_twilight.value_counts()

Day      1656262
Night     551063
Name: astronomical_twilight, dtype: int64

In [96]:
df.astronomical_twilight.map({'Day': 0, 'Night': 1}).value_counts()

0    1656262
1     551063
Name: astronomical_twilight, dtype: int64

In [97]:
df.astronomical_twilight = df.astronomical_twilight.map({'Day': 0, 'Night': 1})

In [49]:
df.amenity.value_counts()

False    2183861
True       23464
Name: amenity, dtype: int64

In [50]:
df.amenity = df.amenity.map({True: 1, False: 0})

In [53]:
df.bump = df.bump.map({True: 1, False: 0})

In [54]:
df.crossing.value_counts()

False    2036718
True      170607
Name: crossing, dtype: int64

In [56]:
df.crossing.map({True: 1, False: 0}).value_counts()

0    2036718
1     170607
Name: crossing, dtype: int64

In [57]:
df.crossing = df.crossing.map({True: 1, False: 0})

In [58]:
df.give_way.value_counts()

False    2202007
True        5318
Name: give_way, dtype: int64

In [59]:
df.give_way.map({True: 1, False: 0}).value_counts()

0    2202007
1       5318
Name: give_way, dtype: int64

In [60]:
df.give_way = df.give_way.map({True: 1, False: 0})

In [61]:
df.junction.value_counts()

False    2023881
True      183444
Name: junction, dtype: int64

In [62]:
df.junction.map({True: 1, False: 0}).value_counts()

0    2023881
1     183444
Name: junction, dtype: int64

In [63]:
df.junction = df.junction.map({True: 1, False: 0})

In [64]:
df.no_exit.value_counts()

False    2203748
True        3577
Name: no_exit, dtype: int64

In [66]:
df.no_exit.map({True: 1, False: 0}).value_counts()

0    2203748
1       3577
Name: no_exit, dtype: int64

In [67]:
df.no_exit = df.no_exit.map({True: 1, False: 0})

In [68]:
df.railway.value_counts()

False    2189427
True       17898
Name: railway, dtype: int64

In [69]:
df.railway.map({True: 1, False: 0}).value_counts()

0    2189427
1      17898
Name: railway, dtype: int64

In [70]:
df.railway = df.railway.map({True: 1, False: 0})

In [71]:
df.roundabout.value_counts()

False    2207224
True         101
Name: roundabout, dtype: int64

In [72]:
df.roundabout.map({True: 1, False: 0}).value_counts()

0    2207224
1        101
Name: roundabout, dtype: int64

In [73]:
df.roundabout = df.roundabout.map({True: 1, False: 0})

In [74]:
df.station.value_counts()

False    2147952
True       59373
Name: station, dtype: int64

In [75]:
df.station.map({True: 1, False: 0}).value_counts()

0    2147952
1      59373
Name: station, dtype: int64

In [76]:
df.station = df.station.map({True: 1, False: 0})

In [77]:
df.stop.value_counts()

False    2164356
True       42969
Name: stop, dtype: int64

In [78]:
df.stop.map({True: 1, False: 0}).value_counts()

0    2164356
1      42969
Name: stop, dtype: int64

In [79]:
df.stop = df.stop.map({True: 1, False: 0})

In [80]:
df.traffic_calming.value_counts()

False    2205852
True        1473
Name: traffic_calming, dtype: int64

In [81]:
df.traffic_calming.map({True: 1, False: 0}).value_counts()

0    2205852
1       1473
Name: traffic_calming, dtype: int64

In [82]:
df.traffic_calming = df.traffic_calming.map({True: 1, False: 0})

In [83]:
df.traffic_signal.value_counts()

False    1994209
True      213116
Name: traffic_signal, dtype: int64

In [84]:
df.traffic_signal.map({True: 1, False: 0}).value_counts()

0    1994209
1     213116
Name: traffic_signal, dtype: int64

In [86]:
df.traffic_signal = df.traffic_signal.map({True: 1, False: 0})

In [87]:
df.turning_loop.value_counts()

False    2207325
Name: turning_loop, dtype: int64

In [88]:
df = df.drop(columns='turning_loop')

In [98]:
df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2207325 entries, 0 to 2845341
Data columns (total 43 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   id                     2207325 non-null  object
 1   severity               2207325 non-null  int64
 2   start_time             2207325 non-null  datetime64[ns]
 3   end_time               2207325 non-null  datetime64[ns]
 4   start_lat              2207325 non-null  float64
 5   start_lng              2207325 non-null  float64
 6   end_lat                2207325 non-null  float64
 7   end_lng                2207325 non-null  float64
 8   distance(mi)           2207325 non-null  float64
 9   description            2207325 non-null  object
 10  street                 2207325 non-null  object
 11  side                   2207325 non-null  object
 12  city                   2207325 non-null  object
 13  county                 2207325 non-null  object
 14  state                  2207325 non-null  object
 15  zipcode                2207325 non-null  object
 16  timezone               2207325 non-null  object
 17  weather_timestamp      2207325 non-null  datetime64[ns]
 18  temperature(f)         2207325 non-null  float64
 19  wind_chill(f)          2207325 non-null  float64
 20  humidity(%)            2207325 non-null  float64
 21  pressure(in)           2207325 non-null  float64
 22  visibility(mi)         2207325 non-null  float64
 23  wind_direction         2207325 non-null  object
 24  wind_speed(mph)        2207325 non-null  float64
 25  precipitation(in)      2207325 non-null  float64
 26  weather_condition      2207325 non-null  object
 27  amenity                2207325 non-null  int64
 28  bump                   2207325 non-null  int64
 29  crossing               2207325 non-null  int64
 30  give_way               2207325 non-null  int64
 31  junction               2207325 non-null  int64
 32  no_exit                2207325 non-null  int64
 33  railway                2207325 non-null  int64
 34  roundabout             2207325 non-null  int64
 35  station                2207325 non-null  int64
 36  stop                   2207325 non-null  int64
 37  traffic_calming        2207325 non-null  int64
 38  traffic_signal         2207325 non-null  int64
 39  sunrise_sunset         2207325 non-null  int64
 40  civil_twilight         2207325 non-null  int64
 41  nautical_twilight      2207325 non-null  int64
 42  astronomical_twilight  2207325 non-null  int64
dtypes: datetime64[ns](3), float64(12), int64(17), object(11)
memory usage: 741.0+ MB

In [104]:
df = df.rename(columns={'distance(mi)':'distance', 'temperature(f)':'temperature', 'wind_chill(f)':'wind_chill', 
                  'humidity(%)':'humidity', 'pressure(in)':'pressure', 'visibility(mi)':'visibility', 
                  'wind_speed(mph)':'wind_speed', 'precipitation(in)':'precipitation'})

In [105]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2207325 entries, 0 to 2845341
Data columns (total 43 columns):
 #   Column                 Dtype
---  ------                 -----
 0   id                     object
 1   severity               int64
 2   start_time             datetime64[ns]
 3   end_time               datetime64[ns]
 4   start_lat              float64
 5   start_lng              float64
 6   end_lat                float64
 7   end_lng                float64
 8   distance               float64
 9   description            object
 10  street                 object
 11  side                   object
 12  city                   object
 13  county                 object
 14  state                  object
 15  zipcode                object
 16  timezone               object
 17  weather_timestamp      datetime64[ns]
 18  temperature            float64
 19  wind_chill             float64
 20  humidity               float64
 21  pressure               float64
 22  visibility             float64
 23  wind_direction         object
 24  wind_speed             float64
 25  precipitation          float64
 26  weather_condition      object
 27  amenity                int64
 28  bump                   int64
 29  crossing               int64
 30  give_way               int64
 31  junction               int64
 32  no_exit                int64
 33  railway                int64
 34  roundabout             int64
 35  station                int64
 36  stop                   int64
 37  traffic_calming        int64
 38  traffic_signal         int64
 39  sunrise_sunset         int64
 40  civil_twilight         int64
 41  nautical_twilight      int64
 42  astronomical_twilight  int64
dtypes: datetime64[ns](3), float64(12), int64(17), object(11)
memory usage: 741.0+ MB

In [106]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
severity,2207325.0,2.074862,0.383241,1.000000,2.000000,2.000000,2.000000,4.00000
start_lat,2207325.0,36.007256,5.472439,24.566027,32.961337,35.742292,40.068340,49.00058
start_lng,2207325.0,-96.620942,18.264535,-124.548074,-117.977579,-91.066492,-80.335197,-67.48413
end_lat,2207325.0,36.007402,5.472547,24.566013,32.960648,35.742992,40.068509,49.07500
end_lng,2207325.0,-96.620680,18.264283,-124.545748,-117.978173,-91.065553,-80.335591,-67.48413
distance,2207325.0,0.696784,1.505373,0.000000,0.046000,0.210000,0.782000,155.18600
temperature,2207325.0,61.838083,18.561719,-33.000000,50.000000,64.000000,76.000000,196.00000
wind_chill,2207325.0,60.716421,20.518191,-50.100000,50.000000,64.000000,76.000000,196.00000
humidity,2207325.0,64.684914,22.713228,1.000000,49.000000,67.000000,84.000000,100.00000
pressure,2207325.0,29.373684,1.092007,16.720000,29.210000,29.730000,29.970000,58.90000
visibility,2207325.0,9.046080,2.610565,0.000000,10.000000,10.000000,10.000000,100.00000
wind_speed,2207325.0,7.152117,5.517968,0.000000,3.000000,7.000000,10.000000,1087.00000
precipitation,2207325.0,0.005705,0.058258,0.000000,0.000000,0.000000,0.000000,24.00000
amenity,2207325.0,0.010630,0.102553,0.000000,0.000000,0.000000,0.000000,1.00000
bump,2207325.0,0.000411,0.020278,0.000000,0.000000,0.000000,0.000000,1.00000
crossing,2207325.0,0.077291,0.267053,0.000000,0.000000,0.000000,0.000000,1.00000
give_way,2207325.0,0.002409,0.049025,0.000000,0.000000,0.000000,0.000000,1.00000
junction,2207325.0,0.083107,0.276044,0.000000,0.000000,0.000000,0.000000,1.00000
no_exit,2207325.0,0.001621,0.040223,0.000000,0.000000,0.000000,0.000000,1.00000
railway,2207325.0,0.008108,0.089681,0.000000,0.000000,0.000000,0.000000,1.00000
roundabout,2207325.0,0.000046,0.006764,0.000000,0.000000,0.000000,0.000000,1.00000
station,2207325.0,0.026898,0.161786,0.000000,0.000000,0.000000,0.000000,1.00000
stop,2207325.0,0.019467,0.138158,0.000000,0.000000,0.000000,0.000000,1.00000
traffic_calming,2207325.0,0.000667,0.025824,0.000000,0.000000,0.000000,0.000000,1.00000
traffic_signal,2207325.0,0.096549,0.295343,0.000000,0.000000,0.000000,0.000000,1.00000
sunrise_sunset,2207325.0,0.377186,0.484682,0.000000,0.000000,0.000000,1.000000,1.00000
civil_twilight,2207325.0,0.337024,0.472693,0.000000,0.000000,0.000000,1.000000,1.00000
nautical_twilight,2207325.0,0.289819,0.453678,0.000000,0.000000,0.000000,1.000000,1.00000
astronomical_twilight,2207325.0,0.249652,0.432812,0.000000,0.000000,0.000000,0.000000,1.00000

In [114]:
df.wind_chill.sort_values().tail(10)

480292     117.0
544402     117.0
568384     117.0
698435     117.0
1225304    117.0
792954     119.0
872112     119.0
1398340    119.0
968234     119.0
422763     119.0
Name: wind_chill, dtype: float64

In [110]:
df = df[df.wind_chill < 120]

In [111]:
df.temperature.sort_values().tail()

792954     119.0
872112     119.0
1398340    119.0
968234     119.0
422763     119.0
Name: temperature, dtype: float64

In [115]:
df.wind_speed.sort_values().tail(50)

619948       58.0
1939088      58.0
1916784      58.0
613637       58.0
2278728      61.0
1704054      67.0
1724790      67.0
1362401      67.0
1605432      67.0
908165       75.0
791053       75.0
1440411      75.0
1773960      98.0
2005335      98.0
2141061     105.0
2141068     105.0
1721370     110.0
1690743     110.0
1605556     110.0
2827848     110.0
1713798     110.0
1155057     119.0
904452      119.0
569754      119.0
241152      129.0
1859156     130.0
2107859     131.0
2107869     131.0
2107867     131.0
2107855     131.0
2107870     131.0
2107851     131.0
2107864     131.0
536707      132.0
2819258     142.0
2819241     142.0
2819237     142.0
2837771     161.0
2397565     169.0
2397564     169.0
1417386     186.0
1357021     186.0
825742      186.0
1224096     186.0
1955910     211.0
2104007     232.0
1414359     243.0
710258      812.0
2225067     984.0
1486460    1087.0
Name: wind_speed, dtype: float64

In [121]:
df = df[df.wind_speed < 60]

In [122]:
df.distance.sort_values().tail(25)

1933306     96.584
1568369     96.584
1846936     99.791
1726809     99.952
1673513    100.896
1918118    101.642
1663349    102.264
1913323    102.794
2331352    103.497
1579860    104.302
1518945    104.302
1556828    106.128
2433474    107.534
2416887    109.176
1892646    112.968
1803836    112.968
1957978    112.968
1954928    112.968
1079448    136.626
709861     136.626
2275228    149.687
2275227    149.690
144        150.138
2422456    152.543
2283651    155.186
Name: distance, dtype: float64

In [125]:
pd.cut(df.wind_speed, bins = [0, 10, 20, 30, 40, 50], 
                       labels = [0, .1, .2, .3, .4]).value_counts()

0.0    1325293
0.1     430790
0.2      40434
0.3       2469
0.4        222
Name: wind_speed, dtype: int64

In [99]:
df.to_csv('accidents_clean.csv', index=False)

In [129]:
def wrangle_data():
    df = pd.read_csv('accidents.csv')
    df.columns = df.columns.str.lower()
    df = df.drop(columns=['number','country','airport_code','turning_loop'])
    df = df.dropna()
    df.weather_timestamp = pd.to_datetime(df.weather_timestamp)
    df.start_time = pd.to_datetime(df.start_time)
    df.end_time = pd.to_datetime(df.end_time)
    df.wind_direction = df.wind_direction.str.replace('North','N').str.replace('West','W')\
    .str.replace('South','S').str.replace('East','E').str.replace('Variable', 'VAR')
    df.sunrise_sunset = df.sunrise_sunset.map({'Day': 0, 'Night': 1})
    df.civil_twilight = df.civil_twilight.map({'Day': 0, 'Night': 1})
    df.nautical_twilight = df.nautical_twilight.map({'Day': 0, 'Night': 1})
    df.astronomical_twilight = df.astronomical_twilight.map({'Day': 0, 'Night': 1})
    df.amenity = df.amenity.map({True: 1, False: 0})
    df.bump = df.bump.map({True: 1, False: 0})
    df.crossing = df.crossing.map({True: 1, False: 0})
    df.give_way = df.give_way.map({True: 1, False: 0})
    df.junction = df.junction.map({True: 1, False: 0})
    df.no_exit = df.no_exit.map({True: 1, False: 0})
    df.railway = df.railway.map({True: 1, False: 0})
    df.roundabout = df.roundabout.map({True: 1, False: 0})
    df.station = df.station.map({True: 1, False: 0})
    df.stop = df.stop.map({True: 1, False: 0})
    df.traffic_calming = df.traffic_calming.map({True: 1, False: 0})
    df.traffic_signal = df.traffic_signal.map({True: 1, False: 0})
    df = df.rename(columns={'distance(mi)':'distance', 'temperature(f)':'temperature', 'wind_chill(f)':'wind_chill', 
                  'humidity(%)':'humidity', 'pressure(in)':'pressure', 'visibility(mi)':'visibility', 
                  'wind_speed(mph)':'wind_speed', 'precipitation(in)':'precipitation'})
    df = df[df.wind_chill < 120]
    df = df[df.wind_speed < 60]
    return df

In [130]:
df2 = wrangle_data()

In [132]:
df2.severity.value_counts()

2    2057033
3      64580
4      62105
1      23555
Name: severity, dtype: int64

In [138]:
sev_two = df2[df2.severity==2].sample(65000, random_state=217)

In [139]:
sev_one = df2[df2.severity==1]

In [140]:
sev_three = df2[df2.severity==3]

In [141]:
sev_four = df2[df2.severity==4]

In [142]:
df3 = pd.concat([sev_one, sev_two, sev_three, sev_four])

In [143]:
df3

,id,severity,start_time,end_time,start_lat,start_lng,end_lat,end_lng,distance,description,...,railway,roundabout,station,stop,traffic_calming,traffic_signal,sunrise_sunset,civil_twilight,nautical_twilight,astronomical_twilight
1735388,A-1735389,1,2020-08-03 14:35:16,2020-08-03 15:20:16,32.20676,-110.980500,32.20676,-110.980500,0.000,At I-10/Freeway - Accident.,...,0,0,0,1,0,1,0,0,0,0
1736991,A-1736992,1,2020-09-22 16:44:38,2020-09-22 17:29:38,32.38084,-110.963920,32.38084,-110.963920,0.000,At N 1st Ave - Accident.,...,0,0,0,0,0,1,0,0,0,0
1749719,A-1749720,1,2020-08-03 15:42:10,2020-08-03 15:57:10,41.37978,-81.994100,41.37978,-81.994100,0.000,At I-80 - Accident.,...,0,0,0,0,0,0,0,0,0,0
1751859,A-1751860,1,2020-09-22 16:29:33,2020-09-22 17:14:33,33.63950,-112.134360,33.63950,-112.134360,0.000,At N 35th Ave - Accident.,...,0,0,0,0,0,1,0,0,0,0
1753408,A-1753409,1,2020-08-03 13:41:01,2020-08-03 13:56:01,38.08320,-122.114500,38.08320,-122.114500,0.000,At Lake Herman Rd - Accident. Hard shoulder bl...,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2845302,A-2845303,4,2019-08-23 17:25:12,2019-08-23 17:54:00,38.99593,-121.672020,39.00317,-121.662679,0.708,Closed between Yuba City and CA-99/Sawtelle Av...,...,0,0,0,0,0,0,0,0,0,0
2845303,A-2845304,4,2019-08-23 17:25:12,2019-08-23 17:54:00,39.00317,-121.662679,38.99593,-121.672020,0.708,Closed between CA-99/Sawtelle Ave and Yuba Cit...,...,0,0,0,0,0,0,0,0,0,0
2845314,A-2845315,4,2019-08-23 13:39:48,2019-08-23 14:05:33,33.68599,-117.886260,33.68537,-117.885720,0.053,Ramp closed to Bristol St/Exit 9 - Road closed...,...,0,0,0,0,0,0,0,0,0,0
2845315,A-2845316,4,2019-08-23 13:39:48,2019-08-23 14:05:33,33.68730,-117.890190,33.68599,-117.886260,0.243,Ramp closed to Bristol St - Road closed due to...,...,0,0,0,0,0,0,0,0,0,0
2845328,A-2845329,4,2019-08-23 16:51:29,2019-08-23 17:21:02,33.77913,-117.887980,33.77991,-117.890860,0.174,Ramp closed to The City Dr/Exit 14A - Road clo...,...,0,0,0,0,0,0,0,0,0,0

In [144]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 215240 entries, 1735388 to 2845328
Data columns (total 43 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   id                     215240 non-null  object
 1   severity               215240 non-null  int64
 2   start_time             215240 non-null  datetime64[ns]
 3   end_time               215240 non-null  datetime64[ns]
 4   start_lat              215240 non-null  float64
 5   start_lng              215240 non-null  float64
 6   end_lat                215240 non-null  float64
 7   end_lng                215240 non-null  float64
 8   distance               215240 non-null  float64
 9   description            215240 non-null  object
 10  street                 215240 non-null  object
 11  side                   215240 non-null  object
 12  city                   215240 non-null  object
 13  county                 215240 non-null  object
 14  state                  215240 non-null  object
 15  zipcode                215240 non-null  object
 16  timezone               215240 non-null  object
 17  weather_timestamp      215240 non-null  datetime64[ns]
 18  temperature            215240 non-null  float64
 19  wind_chill             215240 non-null  float64
 20  humidity               215240 non-null  float64
 21  pressure               215240 non-null  float64
 22  visibility             215240 non-null  float64
 23  wind_direction         215240 non-null  object
 24  wind_speed             215240 non-null  float64
 25  precipitation          215240 non-null  float64
 26  weather_condition      215240 non-null  object
 27  amenity                215240 non-null  int64
 28  bump                   215240 non-null  int64
 29  crossing               215240 non-null  int64
 30  give_way               215240 non-null  int64
 31  junction               215240 non-null  int64
 32  no_exit                215240 non-null  int64
 33  railway                215240 non-null  int64
 34  roundabout             215240 non-null  int64
 35  station                215240 non-null  int64
 36  stop                   215240 non-null  int64
 37  traffic_calming        215240 non-null  int64
 38  traffic_signal         215240 non-null  int64
 39  sunrise_sunset         215240 non-null  int64
 40  civil_twilight         215240 non-null  int64
 41  nautical_twilight      215240 non-null  int64
 42  astronomical_twilight  215240 non-null  int64
dtypes: datetime64[ns](3), float64(12), int64(17), object(11)
memory usage: 72.3+ MB

In [145]:
df3.severity.value_counts()

2    65000
3    64580
4    62105
1    23555
Name: severity, dtype: int64

In [147]:
df3.to_csv('downsample_data.csv', index=False)